html{
    height:100%;
    width: 100%;
}

body{
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
}


.nomargin{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

/* */
#entete {
    background-image: radial-gradient(at 20% 100%, rgb(255, 255, 255),rgb(189, 187, 187));
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    color: rgb(255, 255, 255);
    position:absolute;
    top:0;
    right:0;
    left:0;
    height: 20%;
}

/* */
#imageentete{
    float: left;
    position: absolute;
    margin-left: 0%;
    margin-right: 80%;
    width: 20%;
    height: 90%;
}


/* */
#titreentete1{
    color: #e60080;
    font-size: 6.5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    position:absolute;
    width: 50%;
    height:50%;
    bottom:47%;
    top:3%;
    left:48%;
    right:2%;
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
}

#titreentete2{
    text-align: right;
    margin-bottom: 1vmin;
    font-size: 2.6vw;
    position:absolute;
    right: 0%;
    left:40%;
    bottom:0%;
    margin-right: 2vmin;
}

#fond{
    z-index: -1;
    opacity: 60%;
    position: absolute;
    width: 70%;
    height: 80%;
    top: 10%;
    bottom: 10%;
    right: 15%;
    left: 15%;
}

#corps{
    position: absolute;
    width:100%;
    height:80%;
    top:20%;
    bottom:0;
    left:0;
    right:0;
    color:grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

#titre{
    font-size: 3vw;
    position: absolute;
    width:50%;
    height:10%;
    top: 0%;
    bottom:90%;
    left:2%;
    right:48%;
    color:#e60080;
}

#formulaire{
    position: absolute;
    width:50%;
    height:50%;
    top:18%;
    bottom:32%;
    left:2%;
    right:48%;
}

#annonceur{
    line-height: 1vh;
    font-size: 1.7vw;
    position: absolute;
    height: 20%;
    width:50%;
    bottom:0;
    top:80%;
    left:2%;
    right:48%;
}

label{
    font-size: 2vw;
    color:grey;
}

#boutonformulaire{
    font-size: 1.8vw;
    border: 2px solid #e60080;
    background-color: rgb(235, 235, 235);
    color:#e60080;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

#boutonformulaire:hover{
    border: 2px solid #e60080;
    background-color: rgb(196, 196, 196);
    color:#e60080;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.rouge{
    color:red;
}

.vert{
    color:rgb(4, 187, 4);
}

#retouraccueil{
    text-decoration:none ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    color: rgb(247, 101, 198);
    font-size: 16pt;
}

#rappelconnexion{
    font-size: 1.8vw;
    text-align: center;
    position: absolute;
    width:30%;
    height:25%;
    top:5%;
    bottom: 70%;
    left:65%;
    right:5%;
    border:2px dotted #e60080;
    color:rgb(158, 157, 157);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    background-image: linear-gradient(to right,rgb(246, 246, 247),rgb(240, 239, 239));
}

#lienconnexion{
    position: absolute;
    height:35%;
    width: 100%;
    top:60%;
    bottom:5%;
    right:0;
    left:0;
    text-decoration:none ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    color: #e60080;
    font-size: 2.3vw;
}

#phrase{
    margin-top: 1vh;
    margin-bottom: 0;
}